@model BencomTwitterApp.Models.Tweets;

@if (Model != null)
{
    <h1>User: @Model.Username</h1>
}

<form asp-controller="Twitter" asp-action="setUser" method="post">
    <div class="mb-3">
        <label class="form-label">
            User
        </label>
        <input asp-for="Username" type="text" class="form-control" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Set User</button>
    </div>
</form>

<h1>Tweets</h1>
@if (Model == null) {
    <p>Choose a username to view tweets</p>
}
else{
    @foreach (var d in Model.data) {
       <p> @d.text </p>
    }
}