@model BencomTwitterApp.Models.Tweets;

<form asp-controller="Twitter" asp-action="setUser" method="post">
    <div class="row">
        <div class="col-1">
            <select class="btn btn-primary dropdown-toggle" name="Username" onchange="this.form.submit()">
                <option value="minpres">Mark Rutte</option>
                <option value="geertwilderspvv">Geert Wilders</option>
                <option value="Minister_FIN">Sigrid Kaag</option>
                <option value="MinisterKenE">Rob Jetten</option>
                <option value="jesseklaver">Jesse Klaver</option>
            </select>
        </div>
    </div>
</form>

<h1>Tweets</h1>

<div class="card">
    @foreach (var tweet in Model.data) {
        <div class="card-body">
            <p> @tweet.text </p>
        </div>
    }
</div>
