@model BencomTwitterApp.Models.Root;

<h2>User:</h2>
<form asp-controller="Twitter" asp-action="setUser" method="post">
    <div class="mb-3">
        <label class="form-label">
            User
        </label>
        <input asp-for="Username" type="text" class="form-control" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Set User</button>
    </div>
</form>

<h1>Tweets</h1>

@foreach (var d in Model.data) {
   <p> @d.text </p>
}