@model BencomTwitterApp.Models.Tweets;

<form asp-controller="Twitter" asp-action="setUser" method="post">
    <div class="row">
        <div class="col-2">
            <select class="btn btn-primary dropdown-toggle" name="Username" onchange="this.form.submit()">
                <option disabled hidden selected>Select a user</option>
                <!--dropdown populaten via twitteraccount model-->
                @foreach (var account in ViewBag.TwitterAccounts) {
                    <option value="@account.Username">@account.DisplayName</option>
                }
            </select>
        </div>
    </div>
</form>

<h1>Tweets by @ViewBag.TwitterUsername</h1>

<div class="card">
    <!--Tweets -->
    @if (Model.data != null)
    {
        @foreach (var tweet in Model.data)
        {
            <div class="card-body">
                <p> @tweet.text </p>
            </div>
        }

    }
</div>
